@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=League+Spartan:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/assets/background-stars.svg');
  background-color: #070724;
  color: #ffffff;
}
